
/* Centraliza o conteúdo */
body {
    background-color: #023472;
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contêiner centralizado */
.container {
    justify-content: center;
    text-align: center;
    background-color: #023472; /* Fundo semi-transparente */
    padding: 30px;
    border-radius: 10px;
}

/* Estiliza a logo */
.logo {
    width: auto;
    max-width: 150px;
    margin-bottom: 20px;
}

/* Estiliza os títulos */
h1, h2 {
    margin: 10px 0;
}
/* Estiliza o título h1*/
h1{
    margin-bottom: 20px;
}
/* Estiliza o formulário */
form {
    margin-top: 20px;
}

/* Estiliza as labels */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Estiliza os campos de entrada de texto e arquivo */
input[type="text"],
input[type="file"] {
    width: 70%;
    height: auto;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Estiliza o botão de upload */
button {
    margin-top: 10px;
    width: 80%;
    padding: 10px;
    background-color: white;
    color: #023472;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Efeito hover no botão */
button:hover {
    background-color: #e0e0e0;
}


#num_processos{
    border-radius: 5px;
    width: 40%;
    padding: 5px;
    margin: 10px 0;
    border: 2px solid #ffffff;
    font-size: 16px;
    text-align: center;
}

#num_processos:focus{
    border: 4px solid #021c3d;
    border-radius: 5px;
    outline: none;
    box-shadow: 5px solid;
}

/* Remover setas de incremento/decremento no campo */
#num_processos::-webkit-outer-spin-button,
#num_processos::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}